*{ margin: auto; padding: 0px;}

#mesa{
    margin-top: 30pt;
    background-color: darkgreen;
    width: 200pt;
    height: 300pt;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center
}

#mao ul {
    text-align: center;
    padding:0px;
    margin:55px 0px 55px 0px;
    list-style:none;
}

#mao ul li { 
    margin: 5px;
    padding: 45px;
    background-color:#f01b1b;
    display: inline;
     
}
#rival, #minha {font-size: 30px;}
#rival, #minha, #pontos{
    color: black;
    width: 100px;
    height: 100px;
    background-color:#4f3d7a;
}
#truco{width:320px;background-color: #25ac25; text-align:center;}

#pontos{display: flex;flex-direction:column;}

#truco, #ptMeu, #ptRiv{ border:solid 1px;}