*{ margin: auto; padding: 0px; text-align: center;}

body{background-color:#f94d4db3;}

#mesa{
    width:25%;
    margin-top: 30pt;
    background-color: darkgreen;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center
}
#mao{width: 25%}

.cartas {
    margin: 1%;
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
     
}
.cartas img{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
     
}

#pontos{
    color: black;
    background-color:#4f3d7a;
    width: 30%; 
    height: 40pt;
    display: flex;
    flex-direction:column;
}

#truco{width:25%;background-color: #25ac25; text-align:center;}
