*{ margin: auto; padding: 0px; text-align: center;}

body{background-color:#f94d4db3; }

@media only screen and (max-width: 1950px){
    #truco, #mao, #mesa{max-width:30%;}
}
@media only screen and (max-width: 950px){
    #truco, #mao, #mesa{max-width:45%;}
}
@media only screen and (max-width: 750px){
    #truco, #mao, #mesa{max-width:60%;}
}
@media only screen and (max-width: 600px){
    #truco, #mao, #mesa{max-width:80%;}
}

#mesa{
    margin-top: 30pt;
    background-color: darkgreen;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center
}


.cartas {
    margin: 1%;
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
     
}
.cartas img{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

#pontos{
    color: black;
    background-color:#4f3d7a;
    width: 90%; 
    height: 40pt;
    display: flex;
    flex-direction:column;
}

#truco{background-color: #25ac25; text-align:center;}
